<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://img.icons8.com/fluency/48/000000/blog.png"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--tailwind custom css usage-->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <!--  tailwind custom css ending -->
    {% if title %}
    <title>Blog - {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
  </head>
  <body>
    <div class="px-48 h-14 bg-gray-100">
      <div class="flex justify-between items-center h-14">
        <div class="flex flex-row items-center">
          <h1
            class="uppercase font-bold tracking-wider text-sm px-2 text-black hover:text-white duration-300 ease-in-out"
          >
            <a href="/"> Django Blog </a>
          </h1>
          <a
            href=" {% url 'blog-home' %} "
            class="px-2 text-gray-600 hover:text-gray-900 font-semibold duration-200 ease-linear"
          >
            <p>Home</p>
          </a>
          <a
            href="{% url 'blog-about' %}"
            class="px-2 text-gray-600 hover:text-gray-900 duration-200 ease-linear"
          >
            <p>About</p>
          </a>
        </div>

        {% if user.is_authenticated %}
        <div>
          <a
            href=" {% url 'profile' %} "
            class="px-2 text-gray-600 hover:text-gray-900 duration-200 ease-linear"
            >Profile</a
          >
          <a
            href=" {% url 'logout' %} "
            class="px-2 text-gray-600 hover:text-gray-900 duration-200 ease-linear"
            >Logout</a
          >
        </div>
        {% else %}
        <div>
          <a
            class="px-2 text-gray-600 hover:text-gray-900 duration-200 ease-linear"
            href=" {% url 'login' %} "
          >
            Login
          </a>
          <a
            class="px-2 text-gray-600 hover:text-gray-900 duration-200 ease-linear"
            href="{% url 'register' %}"
          >
            Register
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="mx-14 md:mx-48 bg-white px-30 h-screen">
      {% if messages %}
      <!--for-->
      {% for message in messages %}
      <div
        class="w-full px-3 py-2 bg-green-200 mt-3 uppercase text-green-700 text-xs rounded"
      >
        {{ message }}
      </div>
      {% endfor %}
      <!---for end-->
      {% endif %} {% block content %}{% endblock content %}
    </div>
  </body>
</html>

<svg
  width="479"
  height="92"
  viewBox="0 0 479 92"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
