{% extends 'blog/base.html' %}

<!--content block start-->
{% block content %}

<div class="flex justify-center">
<div class="px-6 py-2 bg-white mb-4 border rounded shadow-sm mt-6 w-fit text-center" id="post">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="py-2">
      <p class='inline'>Are you sure want to delete "<p class='font-bold inline'>{{ object.title }}</p>"</p>
    </div>

    <div class="flex justify-end items-center py-2">
        <a href=" {% url 'post-detail' object.id %} "></a><button class = " text-semibold px-4 py-2 bg-green-400 rounded mx-1  ">cancel</button>
        <button type="submit" class = " text-semibold px-4 py-2 bg-red-500  rounded mx-1">delete</button>
    </div>
  </form>
</div>
</div>
{% endblock %}
